* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

body * {
    font-family: 'Inter', sans-serif;
    color: white;
}

#container {
    border: 1px solid red;
    width: 360px;
    height: 712px;
    margin: 56px auto 0px;
}

#profile {
    text-align: center;
}

#profile img {
    width: 112px;
}

#profile p {
    font-weight: 500px;
    line-height: 24px;
}