* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
     /* variável para a cor do texto inicial*/
     --text-color: white; 
     /* variável para o fundo da página inicial*/
     --back-url: url(./assets/bg-mobile.jpg);
     /* variável para a borda dos links do fundo preto */
     --stroke-color: rgba(255, 255, 255, 0.5);
     /* variável da superfície do link do fundo preto */
     --surface-color: rgba(255, 255, 255, 0.05);
      /* variável do mouse da superfície do link do fundo preto */
     --surface-color-hover: rgba(0, 0, 0, 0.203);
     /* variável que evidencia os ícones de rede social no fundo preto */
     --highlight-color: rgba(255, 255, 255, 0.2);
}

.light {
    /* variável para a cor do texto*/
    --text-color: black; 
    /* variável para o fundo da página*/
    --back-url: url(./assets/bg-mobile-light.jpg);
     /* variável para a borda dos links do fundo branco */
     --stroke-color: rgba(0, 0, 0, 0.5);
     /* variável da superfície do link do fundo branco */
     --surface-color: rgba(0, 0, 0, 0.05);
      /* variável do mouse da superfície do link do fundo branco */
      --surface-color-hover: rgba(0, 0, 0, 0.02);
      /* variável que evidencia os ícones de rede social no fundo branco */
     --highlight-color: rgba(0, 0, 0, 0.1);
}
body {
    background: var(--back-url);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container {
    border: 1px solid red;
    width: 360px;
    height: 712px;
    margin: 56px auto 0px;
    text-align: center;
    padding: 0 24px; /* 0 é top e bottom e 24px é right e left */
}

#profile img {
    width: 112px;
}

#profile p {
    font-weight: 500px;
    line-height: 24px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column; /* flexibilidade na coluna */
    gap: 16px; /* espaço entre cada item da lista */
    padding: 24px 0px;
}

ul li a {
   
    display: flex;
    align-items: center; /* alinhamento na vertical */
    justify-content: center; /* alinhamento na horizontal */
    padding: 16px 24px; /* 16px é top e bottom e 24px é right e left */

    background: var(--surface-color); /* 10% de transparência */
    border: 1px solid var(--stroke-color); /* 50% de transparência */
    border-radius: 8px; /* borda arredondada */
    backdrop-filter: blur(4px); 
    /* nem todo navegador aceita o blur */
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
}

ul li a:hover{
    background: var(--surface-color-hover); /* muda o fundo quando passa o mouse */
    border: 1.5px solid var(--text-color); /* muda a borda quando passa o mouse */
}

#social-links{
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 24px 0px; /* 24 é top e botton e 0 é right e left*/
    font-size: 24px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
    transition: background 0.2s;
}

#social-links a:hover {
    background: var(--highlight-color);
}

footer {
    padding: 24px 0px;
    text-align: center;
    font-size: 12px;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white url(./assets/moon-stars.svg) no-repeat center;
    border: 0;
    border-radius: 50%;
}